In [40]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [51]:
name=[]
rank=[]
year=[]
rating=[]
try:
    source=requests.get('https://www.imdb.com/chart/top/')
    source.raise_for_status()
    
    soup=BeautifulSoup(source.text,'html.parser')
    movies=soup.find('tbody',class_ ="lister-list").find_all('tr')
    for movie in movies:
        
        name.append(movie.find('td',class_="titleColumn").a.text)
        
        rank.append(movie.find('td',class_="titleColumn").get_text(strip=True).split('.')[0])
        
        year.append(movie.find('td',class_="titleColumn").span.text[1:5])
        
        rating.append(movie.find('td',class_="ratingColumn imdbRating").strong.text)
        
    Rank=pd.Series(rank,name="Rank")
    Name=pd.Series(name,name="Name")
    Year=pd.Series(year,name="Year")
    Rating=pd.Series(rating,name="Rating")

    IMDB_df=pd.concat([Rank,Name,Year,Rating],axis=1)
    
    print(IMDB_df)
    
       
    
except Exception as e:
    print(e)

    Rank                      Name  Year Rating
0      1  The Shawshank Redemption  1994    9.2
1      2             The Godfather  1972    9.2
2      3           The Dark Knight  2008    9.0
3      4     The Godfather Part II  1974    9.0
4      5              12 Angry Men  1957    8.9
..   ...                       ...   ...    ...
245  246               Dersu Uzala  1975    8.0
246  247                   Aladdin  1992    8.0
247  248                    Gandhi  1982    8.0
248  249                  The Help  2011    8.0
249  250            The Iron Giant  1999    8.0

[250 rows x 4 columns]

In [49]:
IMDB_df.to_excel("IMDB Top 250 Movies list.xlsx",sheet_name="Top 250")